# ignore terraform state files
*.tfstate.*
*.tfstate

# ignore terraform plan output
*.tfplan

#ignore terraform lock files
.terraform.lock.hcl

#ignore terraform init
.terraform

#ignore ssh
.ssh

venv
.venv
env
.env

#ignore pycache
__pycache__

#ignore data folder
data

#ignore lambda function zip in aws
*.zip